$statics-ctrl-height: 45px;

#tab-statics {
    .list-block {
        margin: 0;
        height: $statics-ctrl-height;

        ul:before, ul:after {
            display: none;
        }

        .item-content {
            background-color: $clr-bg-light;
            border-bottom: 1px solid $clr-back-lighter;

            select {
                color: $clr-primary;
            }
        }
    }
}

.statics-chart {
    width: 100%;
    position: absolute;
    top: $statics-ctrl-height;
    bottom: $tab-height;

    &#statics-map {
        display: none;
    }
}
