doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    title PasserBy

    link(href='css/framework7.min.css', type='text/css', rel='stylesheet')
    link(href='css/ionicons.min.css', type='text/css', rel='stylesheet')
    link(href='css/main.css', type='text/css', rel='stylesheet')

  body
    div(class='statusbar-overlay')
    div(class='panel-overlay')

    div(class='views')
      div(class='navbar')
        div(class='navbar-inner')
          div(class='center sliding') PasserBy

      //- tab bar
      div(class='toolbar tabbar')
        div(class='toolbar-inner')
          a(href='#tab1' class='tab-link active')
            i(class='icon ion-android-locate')
            span(class='tabbar-label') Explore

          a(href='#tab2' class='tab-link')
            i(class='icon ion-stats-bars')
            span(class='tabbar-label') Statics

          a(href='#tab3' class='tab-link')
            i(class='icon ion-trophy')
            span(class='tabbar-label') Achieves

          a(href='#tab4' class='tab-link')
            i(class='icon ion-android-settings')
            span(class='tabbar-label') Help

    script(src='js/framework7.js', type='text/javascript')
