div(id='tab-explore', class='view tab')
  div(class='navbar')
    div(class='navbar-inner')
      div(class='center') Statics

  div(class='pages navbar-fixed')
    div(data-page='page-explore', class='page')
      div(class='page-content')
        div(class='content-block')
          p This is statics view
