div(id='tab-statics', class='tab')
  div(id='statics-ctrl')
    div(class='content-block')
      p(class='buttons-row')
        a(href='#', class='button active statics-duration-btn', id='staticsDayBtn') Today
        a(href='#', class='button statics-duration-btn', id='staticsWeekBtn') Weekly
        a(href='#', class='button statics-duration-btn', id='staticsMonthBtn') Monthly
        a(href='#', class='button statics-duration-btn', id='staticsYearBtn') Yearly

  div(id='statics-chart')
